*{
    
    text-align: center;
    

}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}



.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    justify-content: space-around;
    color: white;
   
}

.d-flex{
    position: fixed;
    top: 0;
    right: -300px; /* Initially hide the search bar off the screen */
    width: 300px;
    background-color: #f2f2f2;
    padding: 10px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);   
     
    transition: right 0.3s ease-in-out;
    
}

#searchInput {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }


  .form-container {
    position: fixed;
    top: 20%;
    right: -500px; /* Initially hide the form off the screen */
    transform: translateY(-50%);
    width: 500px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

   #signInForm {
    
    padding: 10px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: white;
    
    border-radius: 20px;
    gap: 10px; 
  } 

  

  .form-container button{
    padding: 10px;
    font-size: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;;
  }

#title .nav-item .nav-link:hover{
    color:rgb(255, 221, 0);
}

#b{
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.5;
}

#u{
    font-size: 2rem;
    font-weight: bold;

}

#p{
    color:  rgb(255, 221, 0);
    font-size:2rem ;
    font-weight: bold;


}
#space{
    margin: 70px 0;
}

.title-img{
    border-radius: 100%;
    
    height: 500px;
    width: 450px;
}

button{
    font-family: 'Cabin', sans-serif;

}

.size{
    height: 150px;
}

.img{
    height: 65px;
    border-radius: 100%;
    margin-top: 3%;
}

.full{
    width: 100%;
}

.coloured-section{
    background-color:rgb(90, 0, 0);
    color: white;
    padding: 2% 5%;
    
    
}

.white-section{
    background-color: white;
    color: rgb(178, 23, 23);
    padding: 3% 4%;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.burger-img{
    height: 300px;
}

.heading{
    font-family: 'Merriweather', serif;
    

    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
    
}
.heading span{
    color: rgb(255, 221, 0);

}

h1{
    margin-top: 3%;
    margin-bottom: 2%;
    
}

h2,h3{
    font-family: 'Merriweather', serif;
}

h4,h5{
    font-family: 'Cabin', sans-serif;
    
}

.feature-head{
    margin-top: 10px;
    margin-bottom: 10px;
}



p{
    font-family: 'Montserrat', sans-serif;
}

#testimonials{
    height: 400px;
    

}



.colour{
    font-size: 1.2rem;
    
    
}